@charset "utf-8";
td.l-table-edit-td>div{
	display:inline-block;
}
th,td{
	padding:0 8px;
}
textarea{
	resize:none;
}
.btn{
	background:#ccc;
	border-radius:3px;
	display:inline-block;
	padding:5px 10px;
}
.form-horizontal .form-group{
	margin-left:0;
	margin-right:0;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.inline-group{
	margin-top:10px;
}
.inline-group div,.inline-group label{
	display:inline-block;
	vertical-align: middle;
}
.inline-group textarea{
	vertical-align:middle;
}
table.table-center th,table.table-center td{
	text-align:center;
}
.table-edit div.l-text,.table-edit div.l-text-wrapper{
	width:99% !important;
	border:none;
	text-align:center;
}
.table-edit div.l-text input {
	width:99% !important;
	border:none;
	text-align:center;
}
.table-edit .input-group div.l-text,.table-edit .input-group div.l-text-wrapper{
	width:174px !important;
	border:1px solid #ccc;
	text-align:left;
	display:inline-block;
	vertical-align: middle;
}
.table-edit .input-group div.l-text input {
	text-align:left;
}
.checkbox-group p label{
	width:220px;
	height:28px;
	line-height:28px;
}
.col-2{
	display:inline-block;
	width:48%;
}
.checkbox-group p{
	margin:10px 0;
}
.checkbox-group p label{
	display:inline-block;
	vertical-align: middle;
}
table.td-padding10 tbody td {
	padding:8px 0;
}
.input-group p{
	margin:8px 0;
}
.input-group p label{
	display:inline-block;
	vertical-align: middle;
	width:80px;
	text-align:right
}
.table-border{
	border:1px solid #ccc;
}
.table-border td,.table-border th{
	border:1px solid #ccc;
}
.input-style p{
	margin:8px 0;
}
.input-style span{
	display:inline-block;
	vertical-align:middle;
	width:48px;
	text-align:right;
}
.input-style .l-text-wrapper{
	display:inline-block;
}
.input-style textarea{
	display:inline-block;
	vertical-align:middle;
}
