@charset "utf-8";
td.l-table-edit-td>div{
	display:inline-block;
}
th,td{
	padding:0 8px;
}
textarea{
	resize:none;
}
.btn{
	background:#ccc;
	border-radius:3px;
	display:inline-block;
	padding:5px 10px;
}
.form-horizontal .form-group{
	margin-left:0;
	margin-right:0;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.inline-group{
	margin-top:10px;
}
.inline-group div,.inline-group label{
	display:inline-block;
	vertical-align: middle;
}
.inline-group textarea{
	vertical-align:middle;
}
table.table-center th,table.table-center td{
	text-align:center;
}
.table-edit div.l-text,.table-edit div.l-text-wrapper{
	width:99% !important;
	border:none;
	text-align:center;
}
.table-edit div.l-text input {
	width:99% !important;
	border:none;
	text-align:center;
}
.table-edit .input-group div.l-text,.table-edit .input-group div.l-text-wrapper{
	width:174px !important;
	border:1px solid #ccc;
	text-align:left;
	display:inline-block;
	vertical-align: middle;
}
.table-edit .input-group div.l-text input {
	text-align:left;
}
.checkbox-group p label{
	width:220px;
	height:28px;
	line-height:28px;
}
.col-2{
	display:inline-block;
	width:48%;
}
.checkbox-group p{
	margin:10px 0;
}
.checkbox-group p label{
	display:inline-block;
	vertical-align: middle;
}
table.td-padding10 tbody td {
	padding:8px 0;
}
.input-group p{
	margin:8px 0;
}
.input-group p label{
	display:inline-block;
	vertical-align: middle;
	width:80px;
	text-align:right
}
.table-border{
	border:1px solid #ccc;
}
.table-border td,.table-border th{
	border:1px solid #ccc;
}
.input-style p{
	margin:8px 0;
}
.input-style span{
	display:inline-block;
	vertical-align:middle;
	width:48px;
	text-align:right;
}
.input-style .l-text-wrapper{
	display:inline-block;
}
.input-style textarea{
	display:inline-block;
	vertical-align:middle;
}
.padding15 label{
	padding:0 15px;
}
#site-wrap div i,#site-wrap div a,#sitew-wrap div div{
	display:inline-block;
	vertical-align: middle;
}
#site-wrap div i.arrows {
	width: 0;
    height: 0;
    margin: 5px 0;
    margin-left:4px;
    display: block;
    border-top: 16px solid #707D5E;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0px solid transparent;
}
.i-no{
	border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    text-align: center;
    line-height: 20px;
    font-style:normal;
    margin-right:10px;
}
.site-input{
	height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    margin-right:10px;
}
.btn{
	background: #CACACA;
    color: #313131;
    border-radius: 3px;
    padding: 6px 10px;
    text-decoration:none;
}

.clearfix:after{
	display:block;
	height:0;
	content:"";
	clear:both;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
.row:after{
	display:block;
	height:0;
	content:"";
	clear:both;
	visibility: hidden;
}
.row .col-md-3{
	width:25%;
	float:left;
}
.row .col-md-4{
	width:33%;
	float:left;
}
.max-width-group-300 div{
	max-width:300px;
}
.label-width-80 label{
	width:80px;
	text-align:right;
}
.label-width-100 label{
	width:100px;
	text-align:right;
}
.label-width-90 label{
	width:90px;
	text-align:right;
}
.radio-group{
	width:80px;
}
.radio-group div{
	display:inline-block;
}
.radio-group label{
	width:auto;
}
a.l-link{
	text-decoration:none;
}
.l-layout-header-inner{
	text-align:center;
}