@charset "utf-8";
/* CSS Document */
body{margin:0px; margin:0px; font-size:14px; color:#666; font-family:"",Microsoft YaHei,"Arial Black", Gadget, sans-serif; font-family:Arial, Helvetica, sans-serif;  text-align:justify;  text-justify:inter-ideograph; word-break:break-all; line-height:1.8em; text-align:center; background:url(images/index_02.jpg) repeat-x; background-color:#ffffff;}

input,form, ul, li,dt,dd,dl, h1, h2, h3, h4, h5, h6{padding:0; margin:0px;border:0px;}
ul{list-style:none;}
h1 {font-family:Microsoft YaHei,Arial, Helvetica, sans-serif;;  font-size:20px; color:#666; font-weight:normal; padding-left:5px;}
h2{font-family:Microsoft YaHei; font-size:30px; color:#fff; font-weight:normal;}
p,dt,dd,dl{ margin:0px; padding:0px;}
img{border:none; padding:0px; margin:0px;}

